<template>
  <section class="table-of-contents">
    <h3>Table of Contents</h3>
    <div id="toc">
      <ul>
        <li
          v-for="link in toc"
          :key="link.id"
          :class="{ toc2: link.depth === 2, toc3: link.depth === 3 }"
        >
          <nuxt-link :to="`#${link.id}`">{{ link.text }}</nuxt-link>
        </li>
      </ul>
    </div>
  </section>
</template>

<script>
export default {
  props: {
    toc: {
      type: [Array, Object],
      default() {
        return []
      },
    },
  },
}
</script>
