<template>
  <div class="post">
    <h1>{{ post.title }}</h1>
    <table-of-contents :toc="post.toc" />
    <nuxt-content :document="post" />
  </div>
</template>

<script>
export default {
  async asyncData({ $content, params, error }) {
    try {
      const [post] = await $content({ deep: true })
        .where({ dir: `/${params.slug}` })
        .fetch()
      const morePosts = await $content({ deep: true })
        .only(['title', 'image', 'path'])
        .where({ title: { $ne: post.title } })
        .sortBy('createdAt', 'desc')
        .limit(3)
        .fetch()
      return { post, morePosts }
    } catch (err) {
      error({
        statusCode: 404,
        message: 'Page could not be found',
      })
    }
  },
}
</script>
