<template>
  <div class="container">
    <div v-for="post in posts" :key="post.path">
      <h3>
        <nuxt-link :to="post.path">{{ post.title }}</nuxt-link>
      </h3>
    </div>
  </div>
</template>

<script>
export default {
  async asyncData({ $content, params, error }) {
    const content = await $content({ deep: true })
      .only(['title', 'image', 'path'])
      .sortBy('createdAt', 'desc')
      .limit(3)
      .fetch()
    const posts = content.map((post) => {
      return {
        ...post,
        path: '/blog' + post.path.replace('index', ''),
      }
    })
    return { posts }
  },
}
</script>
